*.npz
*.pdf
*.png
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.tar.gz
*.pyc
findweightsbiases.py

# ignore the skeleton_code folder
skeleton_code/

# ignore python cache
__pycache__/


# ignore folder HW1
HW1/

data/