*.npz
*.pdf
*.png
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.tar.gz
*.pyc
findweightsbiases.py
*.txt

# ignore the skeleton_code folder
skeleton_code/

# ignore python cache
__pycache__/

# ignore kaggle tutorial
how-to-use-kaggle-tutorial.md

# ignore folder HW1
HW1/
CNN_plots/
data/
storage/

data/
rnn_attention_plots/
attention_attention_plots/