*.npz
*.pdf
*.png
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.tar.gz
*.ipynb
*.pyc

# ignore the skeleton_code folder
skeleton_code/

# ignore python cache
__pycache__/



# ignore folder HW1
HW1/